*{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'PT Serif', serif;
}

body{
    background-color: #faf98d
}

header {
    background-color: #5e4343;
    padding: 24px 0;
    display: flex;
    border-bottom: 3px dashed rgb(255, 255, 255);
    justify-content:left;
}

header h1 {
    margin-left: 16px;
    margin-right: 32px;
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
    color:whitesmoke
}

form {
    margin-left: 400px;
    font-family: 'PT Serif', serif;
}

input, button {
    padding: 8px 13px;
    background-color: #6349499d;
    border: 1px solid whitesmoke;
}

input{
    padding: 8px 30px;
    color: white;
}

input::placeholder {
    color: white;
}

button{
    color:white;
}

ul {
    text-align: left;
    margin-top: 30px;
    margin-left: 100px;
    font-size:24px;
    display: inline-block;
}

ul li{
    list-style:circle;
    position: relative;
    border-bottom: 1px solid black;
}

.feito {
    text-decoration: line-through;
    list-style:none;
}